pushsafer/examples/sample1.json
[
  {
      "id": "62bb358a.ae473c",
      "type": "pushsafer_read",
      "z": "d1e9f85.05a8508",
      "name": "",
      "configApi": "edbdf172.df8df",
      "configDevices": "e577ae91.f71e1",
      "x": 420,
      "y": 920,
      "wires": [
          [
              "10e42b87.f07b54"
          ]
      ]
  },
  {
      "id": "10e42b87.f07b54",
      "type": "debug",
      "z": "d1e9f85.05a8508",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "targetType": "full",
      "statusVal": "",
      "statusType": "auto",
      "x": 720,
      "y": 920,
      "wires": []
  },
  {
      "id": "c0521342.b98f8",
      "type": "pushsafer_message",
      "z": "d1e9f85.05a8508",
      "name": "",
      "configApi": "edbdf172.df8df",
      "configDevices": "e577ae91.f71e1",
      "configTemplate": "99431d6f.fb333",
      "x": 480,
      "y": 800,
      "wires": [
          [
              "9fb5ee8a.85e8"
          ]
      ]
  },
  {
      "id": "3c8c4126.e3547e",
      "type": "inject",
      "z": "d1e9f85.05a8508",
      "name": "",
      "props": [
          {
              "p": "topic",
              "vt": "str"
          }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "Check123",
      "x": 170,
      "y": 720,
      "wires": [
          [
              "c0521342.b98f8"
          ]
      ]
  },
  {
      "id": "9fb5ee8a.85e8",
      "type": "debug",
      "z": "d1e9f85.05a8508",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "targetType": "full",
      "statusVal": "",
      "statusType": "auto",
      "x": 760,
      "y": 820,
      "wires": []
  },
  {
      "id": "593847d7.28ce28",
      "type": "inject",
      "z": "d1e9f85.05a8508",
      "name": "",
      "props": [
          {
              "p": "payload"
          },
          {
              "p": "topic",
              "vt": "str"
          }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "x": 130,
      "y": 860,
      "wires": [
          [
              "62bb358a.ae473c"
          ]
      ]
  },
  {
      "id": "edbdf172.df8df",
      "type": "pushsafer-config-api",
      "name": ""
  },
  {
      "id": "e577ae91.f71e1",
      "type": "pushsafer-config-devices",
      "name": "",
      "configApi": "edbdf172.df8df",
      "devices": "22852"
  },
  {
      "id": "99431d6f.fb333",
      "type": "pushsafer-config-template",
      "name": "",
      "title": "test",
      "message": "test",
      "sound": "",
      "vibration": "",
      "icon": "",
      "iconcolor": "#000000",
      "url": "",
      "urltitle": "",
      "image": "",
      "imageusepayload": false,
      "image2": "",
      "image2usepayload": false,
      "image3": "",
      "image3usepayload": false,
      "imagesize": "",
      "timetolive": "",
      "priority": "",
      "retry": "",
      "expire": "",
      "answer": "",
      "confirm": "",
      "giphy": ""
  }
]